streamlit==1.41.1
pandas==2.3.2
numpy==2.3.2
scipy==1.16.1
scikit-learn==1.7.1
joblib==1.5.1
threadpoolctl==3.6.0
plotly==6.3.0
yfinance==0.2.65
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
tenacity==9.1.2
typing_extensions==4.14.1
